<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}StreamLine{% endblock %}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <header>
        <div class="header-container">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="StreamLine Logo" class="logo">
          <h1>StreamLine</h1>
        </div>
    </header>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('show_hydrants') }}">Manage Hydrants</a></li>
            <li><a href="{{ url_for('show_regions') }}">Manage Regions</a></li>
            <li><a href="{{ url_for('show_inspections') }}">Track Inspections</a></li>
            <li><a href="{{ url_for('show_workers') }}">Manage Workers</a></li>
            <li><a href="{{ url_for('show_maintenance') }}">Log Maintenance</a></li>
            <li><a href="{{ url_for('show_workers_inspections') }}">Inspect Workers</a></li>
            <li><a href="{{ url_for('show_hydrants_inspections') }}">Inspect Hydrants</a></li>            
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>